@model IEnumerable<Munshi786.Models.Property>

@{
    ViewBag.Title = "ListProperty";
}

<h2>Properties</h2>

<p>
   @Html.ActionLink("Create New", "addproperty", "property", new { @class = "btn btn-info"})
</p>
<table class="table">
    <tr style="color:cornflowerblue" >
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.building)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.contract_start_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.contract_end_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.rent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.deposite)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.commission)
        </th>
        <th>Renew Contract</th>
        <th>Actions</th>
    </tr>

@foreach (var item in Model) {
    <tr id="@item.id">
        <td>
            <span id="@item.id" onclick="GetCheques(@item.id)" class="icon-plus-sign"></span>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.building)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.contract_start_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.contract_end_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.rent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.deposite)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.commission)
        </td>
        <td><span class="label label-info">@item.contract_renew days left</span></td>
        <td>
            <a href="#modal_update" data-toggle="modal" class="btn btn-default btn-lg"><span class="icon-refresh"></span></a> 
            <button type="button" onclick="ConfirmDel(@item.id)"   class="btn btn-danger"><span class="icon-trash"></span></button> 
        </td>
    </tr>
}

</table>


<div class="modal" id="modal_confirmsfsfas" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Do you want to continue?</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success btn-clean" id="button_yessdfas" data-dismiss="modal">Yes</button>
                <button type="button" class="btn btn-danger btn-clean" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

<div class="modal modal-white" id="modal_confirm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Delete Attempt</h4>
            </div>
            <div class="modal-body clearfix">
                Do you want to continue?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success btn-clean" id="button_yes" data-dismiss="modal">Yes</button>
                <button type="button" class="btn btn-danger btn-clean" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div> 


<div class="modal modal-white" id="modal_update" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Update Property</h4>
            </div>
            <form>
                <div class="modal-body clearfix">
                    <div class="controls">
                        <div class="form-row">
                            <div class="col-md-3">Area*</div>
                            <div class="col-md-9">@Html.TextBox("area", null, new { @class = "form-control", @required = "required" })</div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-3">Building*</div>
                            <div class="col-md-9">@Html.TextBox("building", null, new { @class = "form-control", @required = "required" })</div>
                        </div>

                        <div class="form-row">
                            <div class="col-md-3">Contract Starting Date*</div>
                            <div class="col-md-3">
                                <div class="input-group">
                                    <div class="input-group-addon"><span class="icon-calendar"></span></div>
                                    @Html.TextBox("contract_start_date", null, new { @class = "datepicker form-control", @required = "required" })
                                </div>
                            </div>
                            <div class="col-md-3">Contract Ending Date*</div>
                            <div class="col-md-3">
                                <div class="input-group">
                                    <div class="input-group-addon"><span class="icon-calendar"></span></div>
                                    @Html.TextBox("contract_end_date", null, new { @class = "mdatepicker  datepicker form-control", @required = "required" })
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-3">Rent*</div>
                            <div class="col-md-9">
                                <input type="number" class="form-control" step="1" name="rent" required />
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-3">Deposite*</div>
                            <div class="col-md-9">
                                <input type="number" class="form-control" step="1" name="deposite" required />
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-3">Commission*</div>
                            <div class="col-md-9">
                                <input type="number" class="form-control" step="1" name="commission" required />
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col-md-3">Num Of Beds</div>
                            <div class="col-md-9"><input type="number" class="form-control" step="1" name="no_beds" /></div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-3">Num Of Cheques</div>
                            <div class="col-md-9"><input type="number" class="form-control" step="1" name="no_cheques" /></div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-3">Appartment Number*</div>
                            <div class="col-md-9">@Html.TextBox("appartment_no", null, new { @class = "form-control", @required = "required" })</div>
                        </div>

                        <div class="form-row">
                            <div class="col-md-3">Dewa Number*</div>
                            <div class="col-md-9">@Html.TextBox("dewa_no", null, new { @class = "form-control", @required = "required" })</div>
                        </div>

                        <div class="form-row">
                            <div class="col-md-3">Du Number</div>
                            <div class="col-md-9">@Html.TextBox("du_no", null, new { @class = "form-control" })</div>
                        </div>

                        <div class="form-row">
                            <div class="col-md-3">Empower Number</div>
                            <div class="col-md-9">@Html.TextBox("empower_no", null, new { @class = "form-control" })</div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success">Submit form</button>
                </div>
            </form>
        </div>
    </div>
</div>    



@section scripts {
        
    @* Srcipt Auther: Shahzaib Iqbal (ishahzaib900@gmail.com) *@
       <script type="text/javascript">
           
           // gets cheques details from server against the property selected
           // adds rows for the check details bellow the selected property row
           function GetCheques(id)
           {
               $("span[id='" + id + "']").removeAttr("onclick").attr("onclick", "ToggleCheques(" + id + ")");
               $("span[id='" + id + "']").removeClass("icon-plus-sign").addClass("icon-minus-sign");
               
               $.get("/chequedetails/getpropertycheques/"+id, function (data, status) {

                   if (status == "success")
                   {
                       $("tr[id='" + id + "']").after(
                       "<tr id='tr_cheque_" + id + "' style='color:orange'>" +
                       "<th></th>" +
                       "<th>Cheque Number</th>" +
                       "<th>Cheque Date</th>" +
                       "<th>Cheque Till</th>" +
                       "<th>Cheque Amount</th>" +
                       "<th>Cheque By</th>" +
                       "<th></th>" +
                       "<th></th>" +
                       "</tr>"
                       );

                       $.each(data.data, function (i, item) {
                           $("tr[id='tr_cheque_" + id + "']").after(
                               "<tr class='tr_cheque_" + id + "' style='color:cyan'>" +
                               "<td></td>"+
                               "<td>" + item.cheque_no + "</td>" +
                               "<td>" + item.cheque_date_string + "</td>" +
                               "<td>" + item.cheque_till_string + "</td>" +
                               "<td>" + item.cheque_amount + "</td>" +
                               "<td>" + data.cheque_by + "</td>" +
                               "<td></td>" +
                               "<td></td>" +
                               "</tr>"
                               );
                       })
                   }
               });

           }

           // toggle visibitly of cheques after they have been got from the server
           // this avoids the server request for cheques to be made again
           function ToggleCheques(id) {

               if ($("span[id='" + id + "']").attr("class") == "icon-minus-sign") {
                   $("span[id='" + id + "']").removeClass("icon-minus-sign").addClass("icon-plus-sign");
               }
               else {
                   $("span[id='" + id + "']").removeClass("icon-plus-sign").addClass("icon-minus-sign");
               }

               if ($("#tr_cheque_" + id).is(":visible") || $("tr.tr_cheque_" + id).is(":visible"))
               {
                   $("#tr_cheque_" + id).hide();
                   $("tr.tr_cheque_" + id).hide();
               }
               else if ($("#tr_cheque_" + id).is(":hidden") || $("tr.tr_cheque_" + id).is(":hidden")) {
                   $("#tr_cheque_" + id).show();
                   $("tr.tr_cheque_" + id).show();
               }

           }


           function ConfirmDel(id)
           {
               $("#modal_confirm").modal("show");
               $("#button_yes").attr("onclick","DelProperty("+id+")");
           }

           function DelProperty(id)
           {
               $.post("/Property/DelProperty/"+id, null)
                   .done(function (data, status) {
                       if (status == "success" && data == true)
                       {
                           alert("succeed");
                           $("tr[id='" + id + "']").remove();
                       }
                   })
                 .fail(function(jqxhr,status,error){
                     alert("failded");
                 });
                   
           }
           

       </script>
    
}